<template>
    <panel-item :field="field">
         <template slot="value">
                <span v-if="field.value != null">{{ field.value }}</span>
                <span v-else>—</span>
        </template>
    </panel-item>
</template>

<script>
export default {
    props: ['resource', 'resourceName', 'resourceId', 'field'],
}
</script>
